# ----------------------
# Flask
# ----------------------
flask
requests


# ----------------------
# Image processing
# ----------------------
# pillow
# torchvision

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
